<app-global-error></app-global-error>
<div class="custom-content">

  <h1 class="custom-title">Angular App:&nbsp;
    <span class="custom-title-name"> {{ title | titlecase }} </span></h1>

<!--  {{ products[0].title }}-->

  <p *ngIf="loading" class="loading">Loading...</p>

  <!-- Async pipe automatically subscribes to stream and shows it when receives it -->
  <app-product
    *ngFor="let product of products$ | async; let i = index"
    [product]="product"
  ></app-product>

<!--  <app-product-->
<!--    *ngFor="let product of products; let i = index"-->
<!--    [product]="product"-->
<!--  ></app-product>-->

<!--  <app-product [product]="products[0]" ></app-product>-->
<!--  <app-product [product]="products[1]" ></app-product>-->

<!--  <app-product></app-product>-->
<!--  <app-product></app-product>-->
<!--  <app-product></app-product>-->
<!--  <app-product></app-product>-->

</div>
